@model List<ResultFeatrueDto>


<div class="best-rooms py-5">
    <div class="container py-md-5">
        <div class="ban-content-inf row">
            @{
                var takeFirstData = Model.Take(1);
                var takeLastData = Model.TakeLast(2);
                string cssCard = null;
            }
            @if (takeFirstData.Any(x => x.FeatureID == Model[0].FeatureID))
            {
                <div class="maghny-gd-1 col-lg-6">
                    <div class="maghny-grid">
                        <figure class="effect-lily border-radius  m-0">
                            <img class="img-fluid" src="@Model[0].Image" alt="" />
                            <figcaption>
                                <div>
                                    <h4>@Model[0].Title</h4>
                                    <p>@Model[0].Description </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            }



            <div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
                <div class="row">
                    @foreach (var item in Model.Skip(1).ToList())
                    {
                        @if (takeLastData.Any(x => x.FeatureID == item.FeatureID))
                        {
                            cssCard = "mt-4";
                        }
                        else
                            cssCard = null;

                        <div class="maghny-gd-1 col-6 @cssCard">
                            <div class="maghny-grid">
                                <figure class="effect-lily border-radius">
                                    <img class="img-fluid" src="@item.Image" alt="" />
                                    <figcaption>
                                        <div>
                                            <h4>@item.Title</h4>
                                            <p>@item.Description </p>
                                        </div>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

