@model CreateGuideDto
@{
    ViewData["Title"] = "AddGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Rehber Ekleme Sayfası</h1>

@if (ViewBag.Result != null)
{
    <div class="alert alert-@ViewBag.Icon alert-dismissible" role="alert">
        @Html.Raw(@ViewBag.Result)
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


}
<form method="post">

    <div class="form-group">
        @Html.Label("Ad Soyad")
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        @Html.Label("Görsel")
        <input type="text" asp-for="Image" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Twitter Linki")
        <input type="text" asp-for="TwitterUrl" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Açıklama ")
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Açıklama 2")
        <input type="text" asp-for="Description2" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Instagram Linki")
        <input type="text" asp-for="InstagramUrl" class="form-control" />
    </div>
    <br />
    <button class="btn btn-outline-success">Ekle</button>
</form>





