@model List<ResultReservationByIdDto>
@{
    ViewData["Title"] = "MyApprovalReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<h1>Onay Bekliyen Rezervasyonlarım</h1>
<br />
<br />
@if (!Model.Any())
{
    <div class="alert alert-danger" style="color:white; font-weight:bold" role="alert">
        Onay Bekliyen Rezervasyonunuz Bulunamadı.. Yeni Rezervasyon Oluşturmak İçin <a style="color:azure; text-decoration:underline" href="/Members/Reservation/NewReservation">Tıklayın!</a>
    </div>
   
}
else
{
    <table class="table table-bordered text-center">
        <tr>
            <th>#</th>
            <th>Lokasyon</th>
            <th>Kişi Sayısı</th>
            <th>Rezervasyon Tarihi</th>
            <th>Durum</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ReservationID</td>
                <td>@item.Destination.City</td>
                <td>@item.PersonCount</td>
                <td>@(((DateTime)@item.ReservastionDate).ToShortDateString())</td>
                <td>@item.Status</td>
            </tr>
        }
    </table>
    
}
