@model CreateResarvationDto
@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<script src="~/js/jquery-3.4.1.min.js"></script>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bilgilendirme</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               Rezervasyonunuz Başlangıçta Onay Bekliyor Olarak Alınacaktır. Rezervasyon Onaylanma Süreciyle İlgili Lütfen Güncel Rezervasyonlarım Menüsünden Rezervasyonunuzun Durumunu Takip Ediniz.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Kapat</button>
                <button type="button" class="btn btn-outline-primary NotShowAgain">Bidaha Gösterme</button>
            </div>
        </div>
    </div>
</div>

<script>

    $(function () {
        var modalShown = localStorage.getItem('ReservationInfoModel');
        if (!modalShown) {

            var modal = new bootstrap.Modal(document.getElementById('exampleModal'));
            modal.show();
            //localStorage.setItem('modalShown', true);
        }

        $(".NotShowAgain").click(function () {
            modal.hide();
            localStorage.setItem('ReservationInfoModel', true);

        });
    })

</script>



<h1>Yeni Rezervayon Ekleme Sayfası</h1>

<form method="post">
   @*  <div class="form-group">

        @Html.Label("Lokasyon")
        @Html.DropDownListFor(x => x.Destination, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
    </div> *@
    <div class="form-group">
        @Html.Label("Kişi Sayısı")
        <input type="number" asp-for="PersonCount" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Tarih")
        <input type="date" asp-for="ReservastionDate" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Varsa Eklemek İstedikleriniz")
        <textarea class="form-control" asp-for="Description"></textarea>
    </div>
    <button class="btn btn-outline-success">Rezervasyon Oluştur</button>
</form>