@model ResultByIdForDestinationDto
@{
    ViewData["Title"] = "DestinationDetails";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<!doctype html>

<body>

    <section class="w3l-about-breadcrumb text-left">
        <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
            <div class="container">
                <h2 class="title">Tur Detayları</h2>
                <ul class="breadcrumbs-custom-path mt-2">
                    <li><a href="/Default/Index">Ana Sayfa</a></li>
                    <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Rehberin Yorumları </li>
                </ul>
            </div>
        </div>
    </section>
    <div class="py-5 w3l-homeblock1 text-center">
        <div class="container mt-md-3">
            <h3 class="blog-desc-big text-center mb-4">
              @Model.City  Rota Detayı
            </h3>
        </div>
    </div>
    <section class="blog-post-main w3l-homeblock1">


        <div class="container container-fluid">
            <div class="col-md-12">
                <img src="@Model.Image" style="width:100%; object-fit:contain; height:450px;" class="img-fluid radius-image" alt="">
            </div>
        </div>

        <div class="blog-content-inf pb-5">
            <div class="container pb-lg-4">
                <div class="single-post-content">
                    <div class="sing-post-thumb mb-5 row pt-3">
                    </div>
                    <h3 class="blog-desc-big m-0 mb-lg-4 mb-3">Rota Açıklaması</h3>
                    <p class="mb-4">
                        @Model.Description
                    </p>

                    <table class="table table-hover">
                        <tr>
                            <th>Gün Gece Sayısı</th>
                            <th>Kapasite</th>
                            <th>Fiyatı</th>
                        </tr>
                        <tr>
                            <td>@Model.DayNight</td>
                            <td>@Model.Capacity Kişilik</td>
                            <td>@Model.Price.ToString("C2")</td>
                        </tr>
                    </table>


                    @await Component.InvokeAsync("_CommentDestinationComponentPartial",new {id=ViewBag.FilterId})
                    @await Html.PartialAsync("~/Views/Comment/AddComment.cshtml")
                </div>
            </div>
        </div>
    </section>

</body>


