@model List<ResultUserDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int DbId = 0;
}

<script src="~/js/jquery-3.4.1.min.js"></script>

<div class="modal fade" id="exampleModal" tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bilgilendirme</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bu Kaydı Silmek İstediğinize Emin Misiniz? <br /> <strong>Bu İşlem Geri Alınamaz.</strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-outline-dark deleteUserConfirm">Sil</button>
            </div>
        </div>
    </div>
</div>

<script>

    $(function () {

        var _Id = 0;

        $(".deleteuser").click(function () {
            var btnid = $(this).data("id");
            _Id = btnid;
            var modal = new bootstrap.Modal(document.getElementById('exampleModal'));
            modal.show();
        });

        $(".deleteUserConfirm").click(function () {
            window.location.href = '/Admin/User/DeleteUser/' + _Id;
        });

    })

</script>



<h1>Kullanıcı Listesi</h1>

<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Mail</th>
        <th style="text-align:center" colspan="4">İslem</th>
    </tr>
    <a class="btn btn-outline-primary" href="/Login/SignUp/">Yeni kullanıcı Kaydı</a>
    @foreach (var item in Model)
    {
        DbId = DbId + 1;
        <tr>
            <td>@DbId</td>
            <td style="text-transform:capitalize">@item.Name @item.Surname</td>
            <td>@item.Email</td>
            <td><input type="button" value="Sil" data-id="@item.Id" class="btn btn-outline-danger deleteuser" /></td>
            <td><a class="btn btn-outline-success" href="/Admin/User/EditUser/@item.Id">Düzenle</a></td>
            <td><a class="btn btn-outline-secondary" href="/Admin/User/CommentUser/@item.Id">Yorumlar</a></td>
            <td><a class="btn btn-outline-dark" href="/Admin/User/ReseravtionUser/@item.Id">Tur Geçmişi</a></td>
        </tr>
    }
</table>